<%- include('../partials/header'); %>
<main class="main container-fluid">
	<h2 class="section-title">Welcome</h2>
	<p class="section-text">Welcome to Beer store, the fake store where you get all the beer you could possibly want courtesy of sampleapis.com!</p>
	<p class="section-text">Lorem ab eveniet corporis dignissimos culpa neque? Asperiores quisquam ea quam consequuntur quisquam! In quisquam quis nesciunt fuga sapiente illum Quibusdam assumenda quae atque eveniet perferendis. Vitae quisquam quos quidem magnam maxime? Eos cum quas facere dignissimos neque Reiciendis illo aspernatur mollitia iure enim? Aut libero reprehenderit blanditiis corporis architecto.</p>
	<p class="section-text">Elit repellendus facere velit sed quae? Ipsam perferendis eos alias saepe illum? Quam laborum delectus blanditiis est eos iste repellendus! Vero similique blanditiis laboriosam consequuntur reprehenderit? Maiores eligendi dolor quod dignissimos maxime. Temporibus quibusdam consectetur eveniet consequuntur labore earum, repellendus? Deserunt laboriosam non cupiditate commodi voluptas. Reprehenderit voluptatibus magni reprehenderit!</p>
	<p class="section-text">Ipsum repellendus omnis necessitatibus maxime voluptas suscipit nesciunt Similique officia quidem explicabo accusamus eum Minima deserunt excepturi eius quos illum Sint quia repellendus amet eveniet libero, vitae Facilis possimus accusantium magnam obcaecati neque dolore? Ipsum id ipsam magni dolores nesciunt blanditiis? Esse cum quaerat illo facilis corporis? Labore adipisci doloremque</p>
</main>
<%- include('../partials/footer'); %>
